body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background: rgb(25, 25, 25);
    color: white;
    cursor: url('cursor.png'), auto;
}

/* estilo do rastro cursor */
.trail {
    position: fixed;
    width: 6px;
    height: 6px;
    border-radius: 0%;
    pointer-events: none;
    opacity: 0.9;
    background-color: darkred;
    transform: translate(-50%, -50%);
    animation: fadeOut 0.8s ease-out forwards;
}

@keyframes fadeOut{
    to{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}

/* area do jogo */
#game-area {
    position: relative;
    width: auto;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

/* inimigo */
.enemy{
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(mask_yami.png);
    background-size: cover;
    border-radius: 50%;
    animation: spawn 0.3s ease;
}

@keyframes spawn {
    from{
        transform: scale(0);
        opacity: 1;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

/* efeito ao clica */
.hit {
    filter: brightness(2) saturate(2);
    transform: scale(1.3);
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: rgb(236, 186, 33);
    color: black;
    cursor: pointer;
}

button:hover{
    background: darkgoldenrod;
}